---
layout: default
---

{%-include back_link.html-%}

<article>
  <p class="post-meta">
    <time datetime="{{ page.date }}">{{ page.date | date: site.theme_config.date_format }}</time>
  </p>
  
  <h1>{{ page.title }}</h1>

  {% if page.project-url %}
  <p>
    <a href="http://{{ page.project-url }}" target="_blank"
      >{{ page.project-title }}</a
    >
  </p>
  {% endif %}

  <section>
    {{ content }}

    {% if page.image %}
    <a href="{{ page.image | prepend: 'assets/images/' | relative_url }}" target="_blank">
      <img src="{{ page.image | prepend: 'assets/images/' | relative_url }}" class="project-image" alt="{{ page.title }}" />
    </a>
    {% endif %}
  </section>

</article>