---
layout: default
---

<article class="flex flex-col items-center text-center">
  <header
    style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')"
  >
    <h2 class="text-2xl">{{ page.title }}</h2>
    <p class="text-lg">
      {{ page.date | date: "%B %-d, %Y" }} {% if page.author %} - {{ page.author
      }}{% endif %}
    </p>
    {% if page.project-url %}
    <p class="py-6">
      <a href="http://{{ page.project-url }}" target="_blank"
        >{{ page.project-title }}</a
      >
    </p>
    {% endif %}
  </header>
  <section class="prose lg:prose-lg">
    {% if page.image %}
    <img src="{{ page.image | relative_url }}" alt="{{ page.title }}" />
    {% endif %}
    <p>{{ content }}</p>
  </section>
</article>
